# Ignore virtual environment
#myenv/
#venv/

# Ignore database and compiled files
#db.sqlite3
#__pycache__/
#*.pyc
#*.pyo

# Ignore logs
#debug.log source myenv/bin/activate
build.log
*.log

# Word lock files
~$*

# Test/temp files
public/test.html

# Dissertation files
*.docx


# Ignore dependencies and build output
node_modules/
.next/
.DS_Store
.vscode/


